name: CI

on:
    pull_request:
        types:
          - opened
          - synchronize
    push:
      branches:
        - main
        - 'v**'
    merge_group: {}

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                    fetch-depth: 0

            - uses: oven-sh/setup-bun@v1
              with:
                bun-version: latest

            - name: Cache Bun dependencies
              uses: actions/cache@v4
              with:
                path: ~/.bun/install/cache
                key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
                restore-keys: |
                  ${{ runner.os }}-bun-

            - name: Install
              run: bun install

            - name: Biome
              run: bun run lint

            - name: Typecheck
              run: bun run typecheck

            - name: Knip
              run: bunx knip --no-exit-code
